{%  extends "base.html" %}
<script type="text/javascript">
{%  block jquery %}

function set_price() {
	var price = $(".variation-select option:selected").attr("data-price");
	var sale_price = $(".variation-select option:selected").attr("data-sale-price");
	if(sale_price != "" && sale_price != "None" && sale_price != null) {
		$("#price").html("<h3>" + sale_price + " <small style='color:red;text-decoration:line-through;'>" + price + "</small></h3>");
	} else {
		$("#price").text(price);
	}
}
set_price();



$(".variation-select").change(function() {
	set_price()
});


{% endblock %}
</script>

{%  block content %}
<div class='row'>

<div class='col-sm-8'>
<h2>{{  object.title }}</h2>

{%  if object.productimage_set.count > 0 %}
	<div>
	{%  for img in object.productimage_set.all %}
		<img class='img-responsive' src="{{  img.image.url }}">
	{%  endfor %}
	</div>
{%  endif %}
<p class='lead'>{{  object.description }}</p>

</div>

<div class='col-sm-4'>
<h3 id='price'>{{  object.price }}</h3>
{%  if object.variation_set.count > 1 %}
<select class="form-control variation-select">
{% for vari_object in object.variation_set.all %} <br />
	<option data-sale-price="{{  vari_object.sale_price }}" data-price="{{  vari_object.price }}" value="{{  vari_object.id }}">{{  vari_object }}</option>
{% endfor %}

</select>


{%  endif %}
<br />
<a href="">Добавить в корзину</a>
<br />
<br />
<p>Поделится <br />
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
<i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
</a>
<a href="#">
<i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
</a>
<a href="#">
<i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
</p>
<h4>Вам может понадобиться</h4>
</div>

</div>
{%  endblock %}